<div class="container my-5">
    <div class="card border-info mb-3" style="max-width: 30rem;">
      <div class="card-header"><h3>User Registration Form</h3></div>
      <div class="card-body">
        <form #userReg="ngForm" (ngSubmit)="submit(userReg)">
            <div class="form-group">
                <label for="uname">Enter Full Name:</label>
                <input type="text" #name="ngModel" required name="name" class="form-control" ngModel>
                <div *ngIf="name.touched&&name.invalid" class="alert alert-danger">
                  <p *ngIf="name.errors?.['required']">user name required</p>
                </div>
              </div>

          <div class="form-group">
            <label for="email">Enter Email Id</label>
            <input type="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required
              name="email" class="form-control" ngModel email>
            <div *ngIf="email.touched&&email.invalid" class="alert alert-danger">
              <p *ngIf="email.errors?.['required']">Email Id required</p>
              <p *ngIf="email.errors?.['pattern']">Enter Valid Email</p>
            </div>
          </div>

          <div class="form-group">
            <label for="userpass">Enter Password</label>
            <input type="password" #password="ngModel" required name="password" class="form-control" ngModel>
            <div *ngIf="password.touched&&password.invalid" class="alert alert-danger">
              <p *ngIf="password.errors?.['required']">Password required</p>
            </div>
          </div>

          <div class="form-group">
            <label for="phone">Enter Phone No:</label>
            <input type="text" #phone="ngModel" required  pattern="[7-9]{1}[0-9]{9}"  name="phone" class="form-control" ngModel>
            <div *ngIf="phone.touched&&phone.invalid" class="alert alert-danger">
              <p *ngIf="phone.errors?.['required']">Phone no required</p>
              <p *ngIf="phone.errors?.['pattern']">Enter 10 digit Mobile No. Starting with either 7 or 8 or 9 or</p>
            </div>
          </div>
  
          <button [disabled]="userReg.invalid"  class="btn btn-primary my-3" type="submit">Register</button>
          <button class="btn btn-danger mx-3" type="reset">Reset </button>
          <br>
          
        </form>
        
      </div>
    </div>
  </div>
